{% load static %}

<!--Sponsors Section-->
<section class="sponsors-section-two" style="background-image:url({% static "images/background/8.jpg" %})">
    <div class="auto-container">
        <div class="sponsors-outer">
            <h2>Ils Nous Font Confiance !</h2>
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static "images/clients/1.png" %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static "images/clients/2.png" %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static "images/clients/3.png" %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static "images/clients/4.png" %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static "images/clients/5.png" %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static "images/clients/1.png" %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static "images/clients/2.png" %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static "images/clients/3.png" %}" alt=""></a></figure></li>
            </ul>
        </div>
    </div>
</section>
<!--End Sponsors Section-->
