{% extends 'base.html' %}
{% load static %}

    {% block content %}

    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static "images/background/9.jpg" %}" %})">
    	<div class="auto-container">
        	<h2>A propos de Nous</h2>
            <ul class="page-breadcrumb">
            	<li><a href="{% url "home" %}">Accueil</a></li>
                <li>A propos de Nous</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Welcome Section -->
	<section class="welcome-section">
		<div class="auto-container">
			<div class="row clearfix">
			
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static "images/resource/Present.jpg" %}" alt="" />
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title-inner">
								<div class="title">Nous Sommes Bolex-Group </div>
								<h2>Le Leader de l'interimaire</h2>
							</div>
						</div>
						<div class="text">
							Notre vocation est de créer de l’emploi durable. BOLEX GROUP Emploi a développé une expertise auprès des entreprises dans la mise à disposition de personnel, dans l’accompagnement et le conseil RH. Nous développons l’employabilité de plus de 500 salariés à temps partagé au sein de nos entreprises adhérentes, de la PME à la Multinationale.
						</div>
						<!-- <a href="about.html" class="theme-btn btn-style-three">About More</a> -->
						
						<!-- Counter Box -->
						<div class="counter-box">
							
							<div class="fact-counter">
								<div class="row clearfix">
								
									<!--Column-->
									<div class="column counter-column col-lg-4 col-md-4 col-sm-12">
										<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
											<div class="count-outer count-box">
												<h4 class="counter-title">Interventions</h4>
												<span class="count-text" data-speed="3000" data-stop="1200">0</span>+
											</div>
										</div>
									</div>
							
									<!--Column-->
									<div class="column counter-column col-lg-4 col-md-4 col-sm-12">
										<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
											<div class="count-outer count-box">
												<h4 class="counter-title">Clients Heureux</h4>
												<span class="count-text" data-speed="2500" data-stop="800">0</span>+
											</div>
										</div>
									</div>
							
									<!--Column-->
									<div class="column counter-column col-lg-4 col-md-4 col-sm-12">
										<div class="inner wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
											<div class="count-outer count-box">
												<h4 class="counter-title">Satisfaction</h4>
												<span class="count-text" data-speed="2000" data-stop="99">0</span>+
											</div>
										</div>
									</div>
									
								</div>
								
							</div>
							
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Welcome Section -->
	
	<!-- Choice Section -->
	<section class="choice-section">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="{% static "images/resource/choice2.jpg" %}" alt="" />
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title-inner">
								<div class="title">Notre Metier</div>
								<h2>Quel est concretement Notre metier ?</h2>
							</div>
						</div>
						<div class="text">
							<p>Gérer pour le compte des entreprises des ressources humaines partagées. BOLEX GROUP se charge du recrutement, il est l’employeur du personnel, et le met à disposition des entreprises partenaires.</p>
							
						</div>
						<div class="row clearfix">
							<div class="sec-title">
								<div class="title-inner">
									<div class="title">Question !</div>
									<h2>Qu’est-ce que la mise à disposition dans le cadre
										de BOLEX GROUP ? ?</h2>
								</div>
							</div>
							<div class="text">
								<p>Votre activité est saisonnière ou cyclique mais vous ne vous reconnaissez pas dans l’instabilité liée à l’intérim ?
									Optez alors pour la mise à disposition via le BOLEX GROUP d’Employeurs.
									Quel que soit votre besoin, quelle que soit sa durée ou son cycle, nos salariés deviennent vos salariés le temps d’y répondre, sans motif de recours</p>
								
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Choice Section -->
	
	<!-- Services Section Three -->
	
	<!-- End Services Section Two -->
	
	<!-- Testimonial Section -->
	<section class="testimonial-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<div class="title-inner">
				
					<h2>Ce Que Disent Nos Clients</h2>
				</div>
			</div>
			
			<div class="single-item-carousel owl-carousel owl-theme">
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="image">
							<img src="{% static "images/resource/author-7.jpg" %}" alt="" />
							<span class="quote-icon flaticon-left-quote"></span>
						</div>
						<h3>Camron Mobita</h3>
						<div class="text">J'apprecie vraiment ce que Bolex-Group nous apporte au quotidien ! ils font vraiment du bon boulot</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="image">
							<img src="{% static "images/resource/author-5.jpg" %}"  alt="" />
							<span class="quote-icon flaticon-left-quote"></span>
						</div>
						<h3>Camron Mobita</h3>
						<div class="text">Tout Compte fait , Bolex-Group est reellement le leader de l'interimaire . Je tire mon Chapeau</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="image">
							<img src="{% static "images/resource/author-7.jpg" %}" alt="" />
							<span class="quote-icon flaticon-left-quote"></span>
						</div>
						<h3>Camron Mobita</h3>
						<div class="text">Un excellent travail ! J'apprecie</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- End Testimonial Section -->
	
	{% include "bolex/partials/sponsors.html" %}
	
	<!--Newsleter Section-->
    <section class="newsletter-section" style="background-image:url({% static "images/background/13.jpg" %})">
    	<div class="auto-container">
        	<div class="inner-container">
            	<div class="row clearfix">
                	
                    <!--Title Column-->
                    <div class="title-column col-lg-5 col-md-12 col-sm-12">
                    	<div class="inner-column">
                        	<div class="icon-box">
                            	<span class="icon flaticon-mail"></span>
                            </div>
                            <h4>Newsletter Subscription</h4>
                            <div class="title">Get latest news & updates</div>
                        </div>
                    </div>
                    
                    <!--Form Column-->
                    <div class="form-column col-lg-7 col-md-12 col-sm-12">
                    	<div class="inner-column">
                        	
                            <!--Subscribe Form-->
                            <div class="subscribe-form">
                                <form method="post" action="http://ary-themes.com/html/buliten/contact.html">
                                    <div class="form-group">
                                        <input type="email" name="email" value="" placeholder="Email Address" required>
                                        <button type="submit" class="theme-btn btn-style-three">Submit Now</button>
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!--End Newsleter Section-->


	{% endblock content %}